---
- name: Install Docker and Docker Compose
  apt:
    name:
      - docker.io
      - docker-compose
    state: present
    update_cache: yes

- name: Start and enable Docker
  systemd:
    name: docker
    state: started
    enabled: yes

- name: Add vagrant to docker group
  user:
    name: vagrant
    groups: docker
    append: yes

- name: Copy docker-compose.yml
  copy:
    src: docker-compose.yml
    dest: /home/vagrant/

- name: Deploy with docker-compose
  shell: |
    cd /home/vagrant
    docker-compose up -d --remove-orphans 2>/dev/null || sudo docker-compose up -d
  become_user: vagrant